*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}
a{
    text-decoration: none;
}

.btn {
    display: inline-block;
}
nav {
    background: rgb(90, 161, 253);
    padding: 20px 30px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-transform: uppercase;
}
nav ul li a{
   color:#fff; 
}
header {
    text-align: center;
}