@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    color: #303030;
}
ul {
list-style: none;
}
a {
    text-decoration: none;
    color: #303030;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
nav {
    background: #303030;
text-transform: capitalize;
}
.hamburger-menu {
  display: none;
  cursor: pointer;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px  40px;
}
.logo i, .logo h5 {
    display: inline-block;
    vertical-align: middle;
  }
  .logo h5 {
    margin: 0; 
    padding-left: 10px; 
    color: #fff;
  }
.navigation .logo span {
    color: #F72798;
    background: #000000;
}
.navigation .logo {
    font-weight: 400;
}
.navigation ul  {
    display: flex;
    gap: 20px;
    transition: .3s ease-in-out;
}
.navigation ul li a {
    color: #fff;
}
.navigation ul li:hover a {
    color:#F72798 ;
}
header {
    background:linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(./img/header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 0;
    text-align: center;
    text-transform: uppercase;
    color: #fff; -webkit-backdrop-filter: blur(8px); 
    backdrop-filter: blur(8px); 
}
main .container-blogs {
    display: flex;
}

.blogs {
    flex: 3;
    margin-right: 20px;
  }
  .blog {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  .blog img {
    flex: 1;
    width: 50%; 
    height: auto;
    margin-right: 20px;
  }
  .blog-content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: inline-block;
  }
  .blog-content small {
    background: #3030304d;
padding: 5px;

  }
  .blog-content h2 {
    margin-bottom: 20px;
  }
  .blog-content p {
    margin: 20px 0;
  }
  .blog-content .btn {
    background: #F72798;
    color: #303030;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    margin-top: 20px;
   transition: .3s ease-in-out;
    white-space: nowrap;
  }
  .blog-content .btn:hover {
    background: #303030;
    color: #ddd;
  }
  .aside-links {
    flex: 1;
  }
  .aside-links h2 {
    margin-top: 0;
  }
  .aside-content {
    background: #303030;
    color: #fff;
    margin: 20px;
    padding: 20px;
  }
  .category h2, .tags h2 {
    padding-bottom: 20px 0;
    text-decoration: underline;
    text-decoration-color: #fff;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
  }
  .aside-content ul li a {
    color: #fff;
    line-height: 2;
  }
  .aside-content ul li:hover a {
    color: #F72798;
  } 
.contact {
  text-align: center;
}
.contact h1 {
  padding: 20px 0;
}
form {
  width: 50%; 
  padding: 20px;
  margin: 0 auto;
}
textarea {
  display: block;
  width: 100%;
}
label, input, select {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  text-transform: lowercase;
}
input[type="submit"] {
  width: auto;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #303030;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}
input[type="submit"]:hover {
  background-color: #0056b3;
}
.about-me {
  text-align: center;
  padding: 20px 0;
}
.about-me p {
  font-style: italic;
  padding: 20px 0;
}
.about-me-content h3 {
padding: 20px 0 30px 0;
}
.about-me-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
  @media (max-width: 768px) {
    .navigation {
        flex-direction: column;
    }
    .navigation ul {
        flex-direction: column;
        align-items: center;
    }
    .blog, .aside-links {
        max-width: 100%;
        margin-right: 0;
    }
    .blog img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .blog-content, .aside-content {
        padding: 10px;
    }
    main .container {
        flex-direction: column;
    }
    .hamburger-menu {
      display: block;
      color: #fff;
  }
  
  .navigation ul {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      flex-direction: column;
      align-items: start;
      background-color: #303030;
      display: none;
  }

  .navigation ul li {
      margin: 10px;
  }

  .navigation ul li a {
      color: #fff;
      padding: 10px;
      display: block;
  }

  .navigation ul.showMenu {
      display: flex;
  }
}

@media (max-width: 480px) {
    .navigation .logo h5, .navigation ul li a {
        font-size: 14px; 
    }
    .blog-content h2 {
        font-size: 18px; 
    }
    .navigation {
        padding: 10px 20px; 
    }
}
